---

import MainGridLayout from '../layouts/MainGridLayout.astro'

import { getEntry } from 'astro:content'
import { i18n } from '../i18n/translation'
import I18nKey from '../i18n/i18nKey'
import Markdown from '@components/misc/Markdown.astro'

const aboutPost = await getEntry('spec', 'about')

const { Content } = await aboutPost.render()
---
<MainGridLayout title={i18n(I18nKey.about)} description={i18n(I18nKey.about)}>
    <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
        <div class="card-base z-10 px-9 py-6 relative w-full ">
            <Markdown class="mt-2">
                <h1>ุฏุฑุจุงุฑู ูู</h1>
                <p>
                    ุณูุงู ุฑููุง๐<br>
                    ูู ุดูุฑุงุฑู๐ฆ<br>
                    ฺฉ ููุฑ ฺฉู ุนุงุดู ุฏูุง ฺฉุงููพูุชุฑ ู ุจุฑูุงูู ููุณู. ูู ุงูุฌุง ุงุฒ ุชุฌุฑุจุงุชู ู ฺุฒุง
                    ฺฉู ุญุณ ูฺฉูู ููุชููู ุจุงู ฺฉูู ุงูุฌุง ูููุณู.ูพุณ ุจุง ุงูุฌุง ู ุจุง ูู ุชู ุงู ูุณุฑ ููุณูุฑ ุดู ุชุง 
                    ุชู ุฏูุง ูู ุณูุฑ ฺฉู
                    ุงุฒ ุทุฑู
                    <a href="https://shahriaarrr.ir">ุงู ููฺฉ</a>
                    ูุชูู ุจู ูุจุณุงุชู ู ุดุจฺฉู ูุง ุงุฌุชูุงุนู ุฏุณุชุฑุณ ุฏุงุดุชู ุจุงุด๐ฅ๐ฅ
                </p>
            </Markdown>
        </div>
    </div>
</MainGridLayout>